$timeline_height: 14px;
$spacer: 14px;
$pointer_width: 6px;
$pointer_border_width: 2px;

$navy: #00115e;
$blue: #24bfe9;
$red: #f24d55;
$gray: gray;

.timeline {
  height: $timeline_height;
  width: 100%;
  position: relative;

  & .timeline_event_progress_bar {
    height: 100%;
    width: calc(100% - #{$spacer});
    margin-left: $spacer;
    background: #f6f6f6;
    border-radius: 50px;
    position: relative;

    & .timeline_event_progress_bar__item {
      position: absolute;
      height: 100%;

      &:nth-child(1) {
        border-radius: 50px 0px 0px 50px;

        & .timeline_event_content {
          left: -14px;

          & .timeline_event_content__item {
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
          }
        }
      }

      &:last-child {
        border-radius: 0px 50px 50px 0px;
      }

      &--blue {
        background: $blue;
      }

      &--red {
        background: $red;
      }

      &--gray {
        background: $gray;
      }
    }

    & .timeline_event_content {
      display: flex;
      align-items: center;
      height: 100%;
      background: transparent;
      position: absolute;
      top: 0px;
      left: -5px;

      & .timeline_event_content__item {
        position: absolute;
        border-radius: 50px;
        width: $pointer_width;
        height: $pointer_width;
        border: #{$pointer_border_width} solid $navy;
        background: $navy;
        border-color: #ffffff;

        &--red {
          background: $red;
          border-color: #ffffff;
        }

        &--blue,
        &--gray {
          background: $navy;
          border-color: #ffffff;
        }

        & .timeline_event_content__item__info {
          position: absolute;
          display: flex;
          flex-direction: column;
          left: -67px;
          top: 16px;
          min-width: 120px;
          color: $navy;
          background: #ffffff;
          opacity: 0;
          transition: all 0.7s ease;
          padding: 14px;
          border-radius: 16px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          z-index: -1;

          & .name,
          & .date {
            margin: 0px;
            margin-bottom: 2px;
            font-size: 11px;
            line-height: 13px;
          }

          & .date {
            font-weight: bold;
          }
        }

        &:hover .timeline_event_content__item__info {
          display: flex;
          opacity: 0.9;
          z-index: 10;
        }
      }
    }
  }

  & .timeline_event_today {
    position: absolute;
    background: url("../../../assets/imgs/todays-marker.svg") no-repeat;
    z-index: 1;
    width: 27px;
    height: 54px;
    top: -14px;
  }
}
